@model EbookLibraryMongoDB.Models.Book

@{
    ViewData["Title"] = "ShowDetails";

    string allTags = "";
    if(Model.Tags != null)
    {
        if(Model.Tags.Count() > 1)
        {
            for(int i = 0; i < Model.Tags.Count() - 1; i++)
            {
                allTags += Model.Tags[i].Name + ", ";
            }
            allTags += Model.Tags[Model.Tags.Count() - 1].Name;
        } else if(Model.Tags.Count() == 1)
        {
            allTags = Model.Tags[0].Name;
        }
    }
}

<h1>ShowDetails</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PubDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PubDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Series)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Series)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PosInSeries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PosInSeries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvgPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvgPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalFilePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalFilePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Tags
        </dt>
        <dd class = "col-sm-10">
            @allTags
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    @Html.ActionLink("Back to Library", "ReturnToIndex", new {})
</div>
